<div class="rk-container"><div class="rk-current-player">{{gs.p.name}}</div></div>


<h2>Players</h2>
<div class="rk-container"><div *ngFor="let p of players" class="rk-player" [ngClass]="{'rk-player-active': p.active === true}">{{p.name}} </div></div>
<div class="rk-container">
    <button mat-raised-button class="rk-top-element" (click)="drawFigure()" [disabled]="cannotDraw || !playing">Draw Figure</button>
    <button mat-raised-button class="rk-top-element" (click)="submitMove()" [disabled]="cannotSubmit || !playing">Submit Move</button>
    <button mat-raised-button class="rk-top-element" (click)="resetMove()"[disabled]="!playing" >Reset Move</button>
</div>
    
<div cdkDropListGroup [ngClass]="{'rk-inactive': playing === false}" class="rk-table-stack">
  <h2>Table</h2>
    <div class="rk-table">
      <app-figure-serie 
        *ngFor="let item of tableFigures" 
        [figures]="item" 
        [disabled]="!playing" 
        [ngClass]="{'rk-inactive': playing === false}"
        (figuredropped)="enableSubmit()"
        ></app-figure-serie>
        <app-empty-figure-serie
          [figures]="voidList"
          [disabled]="!playing" 
          [ngClass]="{'rk-inactive': playing === false}"
          (figuredropped)="dropNewSeries($event)"
        >
        </app-empty-figure-serie>
        <!--<div
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListDisabled]="!playing"
        (cdkDropListDropped)="dropNewSeries($event)"
        class="rk-new-series"
        >
        <div class="rk-figure-void">
          <h3 class="rk-figure-number">+</h3>
        </div>
      </div>-->
    </div>

  
  <h2>Stack</h2>
    <div
      cdkDropList
      #stackList="cdkDropList"
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="stackFigures"
      [cdkDropListDisabled]="!playing"
      class="rk-stack"
      [ngClass]="{'rk-inactive': playing === false}"
      (cdkDropListDropped)="drop($event)">
      <app-figure *ngFor="let item of stackFigures" cdkDrag [figure]="item"></app-figure>
    </div>
</div>
