<div class="rk-container"><div class="rk-current-player">Game: {{gs.gameName}}, Player: {{gs.p.name}}</div></div>

<h2>Players</h2>
<div class="rk-container">
  <app-player-overview *ngFor="let p of players" [player]="p"></app-player-overview>
</div>
<div class="rk-container">
    <button mat-raised-button class="rk-top-element" (click)="drawFigure()" [disabled]="cannotDraw || !playing">Draw Figure</button>
    <button mat-raised-button class="rk-top-element" (click)="submitMove()" [disabled]="cannotSubmit || !playing">Submit Move</button>
    <button mat-raised-button class="rk-top-element" (click)="resetMove()"[disabled]="!playing" >Reset Move</button>
</div>
    
<div cdkDropListGroup [ngClass]="{'rk-inactive': playing === false}" class="rk-table-stack">
  <h2>Table</h2>
    <div class="rk-table">
      <app-figure-serie 
        *ngFor="let item of tableFigures" 
        [figures]="item" 
        [disabled]="!playing" 
        [ngClass]="{'rk-inactive': playing === false}"
        (figuredropped)="fdCallback()"
        
        ></app-figure-serie>
        <app-empty-figure-serie
          [figures]="voidList"
          [disabled]="!playing" 
          [ngClass]="{'rk-inactive': playing === false}"
          (figuredropped)="dropNewSeries($event)"
        >
        </app-empty-figure-serie>
    </div>

  
  <h2>Stack</h2>
    <div
      cdkDropList
      #stackList="cdkDropList"
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="stackFiguresUpper"
      class="rk-stack"
      [ngClass]="{'rk-inactive': playing === false}"
      (cdkDropListDropped)="dropupper($event)">

      <div class="rk-figure" *ngFor="let item of stackFiguresUpper" cdkDrag>
        <div class="figure-placeholder" *cdkDragPlaceholder></div>
        <h3 [style.color]="item.clr" class="rk-figure-number">{{item.representation}}</h3>
      </div>
    </div>
    <div
    cdkDropList
    #stackList="cdkDropList"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="stackFiguresLower"
    class="rk-stack"
    [ngClass]="{'rk-inactive': playing === false}"
    (cdkDropListDropped)="droplower($event)">
    <div class="rk-figure" *ngFor="let item of stackFiguresLower" cdkDrag>
      <div class="figure-placeholder" *cdkDragPlaceholder></div>
      <h3 [style.color]="item.clr" class="rk-figure-number">{{item.representation}}</h3>
    </div>
  </div>
</div>
