.bottomStatusBar {

  position: fixed;
  bottom: 0;
  background-color: rgb(145, 171, 255);
}

.rk-stack {
  max-width: 100%;
  border: solid 1px #ccc;
  padding-top: 10px;
  padding-left: 10px;
  min-height: 96px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom,rgb(220,220,220),rgb(130,130,130));
  border-radius: 4px;
}

.rk-figure-void {
  width: 50px;
  height: 80px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  margin: 2px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: rgb(233, 233, 233);
}


.rk-table {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rk-table-stack {
  width: 100%;
}

.rk-new-series {
  margin-top: 2px;
  padding-top: 10px;
}

.rk-top-element {
  margin-left: 10px;
  margin-right: 10px;
  display:inline-block;
}

.rk-current-player {
  font-size: 25px;
  margin-left: -15px;
}


.rk-player {
  background-color: #eaeaea33;
  position: relative;
  border: solid;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  display: inline-flex;
  z-index: 0;
}

.rk-player-left {
  position:absolute;
  left:0;
  top:0;
  z-index: -5;
  width: 0%;
  height: 100%;
  background-color: #00c03a;
}
.rk-player-active {
  background-color: #00c03a;
}


.rk-stack.cdk-drop-list-dragging .rk-figure:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
